#comment out to use bare commands with no prefix
PREFIX=.
TIMEZONE=Africa/Nairobi

#OPENWEATHER_API_KEY=your_openweather_key_here
SESSION_ID=tct_13f848ce

FILTER_NOISE_LOGS=true

#DASHBOARD_ENABLED=true
DASHBOARD_USER=admin
DASHBOARD_PASS=tct

server_port=3007

#CLOUDINARY_CLOUD_NAME=your_cloud_name
#CLOUDINARY_API_KEY=your_api_key
#CLOUDINARY_API_SECRET=your_api_secre
